* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: lightblue;
    background-image: url("../img/book-shelves-background.avif");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    width: 75%;
    margin: 0 auto;
    background-color: #f0efeb;
    padding-bottom: 1px;
}

header {
    padding: 0 12.5%;
    width: 100%;
    background-color: #FAEDCD;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-container nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-container nav img {
    max-width: 80px;
}

#desktop-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}

#desktop-menu li {
    width: auto;
    margin: 0.5em 1em;
    font-size: 20px;
}

.nav-container a {
    text-decoration: none;
    color: black;
    padding: 10px, 20px;
}

#user-icon {
    max-width: 40px;
}

/* ------------------ Dropdown log out menu ------------------*/

.nav-container #desktop-menu .dropdown {
    display: inline-block;
    position: relative;
    margin: 0 0.5em;
}

.nav-container #desktop-menu .drop-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: fit-content;
}

.nav-container #desktop-menu .drop-menu-item {
    width: 72px;
    margin: 0;
    padding: 0;
}

.nav-container #desktop-menu .drop-menu-item:hover {
    background-color: #eee;
}

.nav-container #desktop-menu .drop-menu-item a {
    color: #555;
}

.nav-container #desktop-menu .dropdown:hover .drop-menu {
    display: block;
}

/* --------------- Mobile menu ---------------------------*/

/* .book-container .new-item {
    display: none;
} */

#mobileMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    z-index: 1;
    overflow-y: hidden;
}

.mobile-menu h1 {
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

#mobileMenuIcon {
    display: inline-block;
    width: 70px;
}

.mobile-menu ul {
    list-style-type: none;
    text-align: center;
}

.mobile-menu li {
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

.mobile-menu li:first-child {
    border-top: 1px solid #fff;
}

.mobile-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
}


/* 600px or less */
@media screen and (max-width: 600px) {

    #mobileMenuIcon {
        display: inline-block;
    }

    #desktop-menu {
        display: none;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-wrapper .footer-menu {
        align-self: center;
    }
}

/* At least 610px */
@media screen and (min-width: 601px) {
    #desktop-menu {
        display: inline-block;
    }

    #mobileMenuIcon {
        display: none !important; 
    }
}

footer {
    background-color: #FAEDCD;
    padding: 0 10%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}

.footer-menu,
.contact-us {
    padding: 2em 0;
    width: fit-content;
}

.footer-wrapper ul li {
    list-style-type: none;
    padding: 5px 0;
}

.footer-wrapper h3 {
    padding: 5px 0;
    text-align: center;
}

.footer-wrapper span {
    font-weight: 600;
}

.footer-wrapper ul a {
    text-decoration: none;
    color: black;
}

.footer-wrapper .contact-us .social-media {
    padding-top: 10px;
}

.footer-wrapper .contact-us .social-media img {
    display: inline-block;
    width: 40px;
}